.navbar .btn{
	margin-top:10px;
	margin-right:5px;
	float:right;
}
.trangleUp{
	width:0;
	height:0;
	border-width:15px;
	border:solid transparent;
	border-color:black transparent transparent transparent;
}
.trangleDown{
	width:0;
	height:0;
	border-width:15px;
	border:solid transparent;
	border-color:transparent transparent black transparent;
}

.table-bordered>tbody>tr>td{
	vertical-align: middle;
	cursor:pointer;
}