<div class="panel panel-default">
	<div class="panel-heading">最新消息</div>
	<div class="panel-body">
		近日有读者反映称，一篇题为《“卓越计划”下大学数学教学方法的探索》的论文，只字未改发表在了《数学教育学报》《天津城建大学学报》和《中国建设教育》3个刊物上。其中一篇的作者为独立署名的“陈成钢”，另两篇却在“陈成钢”后面加了第二作者“顾沛”。

　　一稿三发，这已有学术不规范之嫌；内容相同而作者署名不一，这更易引起争议。

　　记者了解到，作者“陈成钢”2000年毕业于南开大学(分数线,专业设置)统计与概率专业，现为天津城建大学理学院副教授。出现两次的第二作者“顾沛”上世纪80年代同样毕业于南开大学，后留校任教至今，曾是陈成钢大学时代的老师。

　　陈成钢告诉记者，因为做课题的缘故，自己多次采访老师顾沛，顾沛参与了文章创作，为他提供了一些思路和参考意见。顾沛也承认，论文的部分内容与陈有过沟通，“但并没有见过全文”。

　　另外，记者注意到，其中两个期刊标注的收稿日期显示，2013年10月22日，《数学教育学报》收到了署有陈成钢、顾沛两个作者的论文。6天后，陈成钢所任教大学的学报也收到了这篇文章，不过，署名只有“陈成钢”一人。

　　事实上，“一稿多投”长期以来均被教育部门视为学术不规范的行为。《天津城建大学学报》官网也明确表示“来稿请勿一稿多投”，“稿件经终审后未接到录用通知者，作者可自行处理，本刊不予退稿”。

　　2014年4月和6月，这两篇收稿日期仅相隔6天的相同论文先后在《数学教育学报》和《天津城建大学学报》发表了。论文首页标注均注明“文章系天津市教委2012年重点教改课题的项目”。

　　论文相同，署名为何不一呢？顾沛接受采访时认为，这可能与自己在学界的口碑有关。《数学教育学报》是相对较好的杂志，自己经常给其投稿，编辑部一般看到有顾沛的名字，可能更容易发表，“所以，投《数学教育学报》署我的名字，对他（陈成钢）是有好处的。”

　　陈成钢则表示，由于在论文中引用了顾沛的观点及所发表文章的内容，所以，“就自作主张署名了”。他称事先未知会顾沛，并为此表示抱歉。

　　对此，浙江大学(分数线,专业设置)传媒与国际文化学院从事版权研究的吴副教授告诉记者，同一篇论文署 上不同的作者在多处发，是学术不规范行为。同时，在事先不通知对方的情况下，把采访对象（包括引用的文章作者）姓名放在署名里，作为第二作者，也是违规行 为，“这是对对方署名权的一种侵犯”。

　　2015年6月8日，这篇论文在距上次刊发1年多之后，再次被投到《中国建设教育》杂志。当年10月，论文第三次发表，署名是陈成钢、顾沛。对此，顾沛同样称不知情。
	</div>
</div>